* {
	font-family: Georgia, "Times New Roman", serif;
}

html #content {
	font-size: 10pt;
}

ol,ul { list-style:none; }

ul.pagination {
	margin-left: -35px;
}

ul.pagination a,
ul.pagination li.active, 
ul.pagination li.pagejump,
ul.pagination li.total {
	text-decoration: none;
	padding: 1px 4px 1px 0px;
	display: block;
}

ul.pagination li {
	font-size: 0.9em;	
	margin: 0 2px 0 2px;
	float: left;
}

	ul.pagination li.total,
	ul.pagination li.active {
		background: none;
		border: 0;
		margin-left: 0px;
	}

	ul.pagination li.active {
		color: #000;
		font-size: 1em;
		font-weight: bold;
	}
	
	ul.pagination li.pagejump {
		display: none;
	}

#admin_bar,
#header,
#footer_utilities,
#utility_links,
.post_mod,
.author_info,
.rep_bar,
.post_controls,
.top,
#content_jump,
.topic_buttons,
.topic_options,
h1,
.post_id,
h3 img,
.ip,
hr,
.moderation_bar,
.topic_jump,
.topic_share,
#fast_reply,
#reputation_filter,
.statistics,
.rating,
.message,
#debug_wrapper,
fieldset,
.signature {
	display: none;
}

#breadcrumb {
	display: block !important;
}
	#breadcrumb li {
		float: left;
	}

.topic, .hfeed {
	clear: both;
}

.post_block {
	margin-bottom: 10pt;
	border-top: 2pt solid gray;
	line-height: 60%; 
	padding-top: 10px;
}

.posted_info {
	color: gray !important;
	font-size: 8pt !important;
	text-decoration: none !important;
	padding-bottom: 3px;
	float: right;
	margin-top: -30px;
}

span.main_topic_title {
	font-size: 1.7em;
	padding-left: 2px;
}

.post_block h3 {
	display: inline !important;
	margin: 0px 0px 10px !important;
	padding: 0px !important;
	float: left;
}

.post_block h3 a {
	color: black !important;
	text-decoration: none !important;
	font-style: normal !important;
}

	.post_block .post_body a:after {
	    content: " (" attr(href) ") ";
	}

.post_body {
	line-height: 100%;
	margin-top: 15px;
	clear: both;
	display: block;
	padding: 10px;
	border-top: 1pt solid #d3d3d3;
}

h1, h2, h3 {
	font-weight: bold;
}

#copyright {
	text-align: center;
	color: gray;
	font-size: 9pt;
}

a img {
	border: 0px;
}

abbr.published {
	text-decoration: none !important;
	border: 0px;
}