@import "base.less";

a:hover{
	text-decoration:underline;
}

.view,
.sidebar,
.sidebar .row,
.content
{
	height:100%;
}
.sidebar,
.content{
	margin-top:20px;
}
.header{
	min-height:50px;
	/*background:#008cd7;*/
	background:black;
	color:#fff;
}
.nav{
	line-height:50px;
	li{
		a{
			padding:0;
			color:#fff;
			display:inline-block;
		}
		a:hover{
			background:none;
			text-decoration:underline;
		}
	}
}
.branchinfo{
	margin-right:100px;
}
.quicklinks li{
	margin-right: 10px;
}
@media (max-width:768px) {
	.nav{
		margin:0;
		width:100%;
		line-height:30px;
		li{
			a{
				display:block;
			}
		}
	}
}
.navbar-toggle {
	border-color: #f1f2f5;
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.icon-bar{
	background-color: #f1f2f5;
}
}

.loan-detail{
	hr{
		margin:10px 0;
	}
}
.detailInfo{
	margin-bottom:40px;
	label{
		width: 100px;
	}
	ul{
		li{
			line-height:30px;
			float:left;
			width:32%;
		}
	}
}
.faceinfo,
.visitinfo
{
	.table>thead>tr>th, 
	.table>tbody>tr>th, 
	.table>tfoot>tr>th, 
	.table>thead>tr>td, 
	.table>tbody>tr>td, 
	.table>tfoot>tr>td
	{
		border-top:none;
		padding:8px 0;
		vertical-align:middle;
	}
	.table
	{
		td{
			border-bottom:1px solid #dfdfdf;
		}
		td .table{
			margin-bottom:0;
			td{
				border-bottom:none;
			}
		}
	}
}
.check{
	.check-company,
	.check-job,
	.check-house
	{
		.input-underline{
			width:150px;
			display:inline-block;
			margin-right:5px;
		}
		ul li{
			float:left;
		}
		p .input-underline{
			width:70%;
		}
	}
}
.underline{
	min-width:120px;
	display:inline-block;
	border-bottom:1px solid #f1f1f1;
	line-height:30px;
}
