@import "base.less";

a:hover{
	text-decoration:underline;
}

.view,
.sidebar,
.sidebar .row,
.content
{
	height:100%;
}
.sidebar,
.content{
	margin-top:20px;
}
.header{
	min-height:50px;
	background:#008cd7;
	color:#fff;
}
.nav{
	li{
		height:100%;
		a{
			padding:0;
			line-height:50px;
			color:#fff;
			display:inline-block;
		}
		a:hover{
			background:none;
			text-decoration:underline;
		}
	}
}
.quicklinks li{
	margin-right: 10px;
}
@media (max-width:768px) {
	.nav{
		margin:0;
		width:100%;
		li{
			a{
				line-height:30px;
				display:block;
			}
		}
	}
}
.navbar-toggle {
	border-color: #f1f2f5;
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}
.icon-bar{
	background-color: #f1f2f5;
}
}
