.site{
	font-size:12px;
	background:#fff;
	color:#4c3a2c;
	a{
		color:#402817;
	}
	a:hover{
		text-decoration:underline;
	}
	.wrap{
		margin-top:36px;
	}	
	.topbar{
		width:100%;
		height:35px;
		top:0;
		line-height:35px;
		font-size:12px;
		background:#402817;
		z-index:99999;
		a{
			color:#fff;	
		}
		.avatar{
			img{
				border-radius:2px;
				width:25px;
				height:25px;
			}
		}
		.topbar-left,
		.topbar-right{
			display:inline-block;
		}
		.topbar-left{
			li{
				float:left;
			}
			a{
				margin-right:10px;
			}
			ul li{
				width:100%;
				a{
					margin-right:0;
					color:#000;
				}
			}
		}
		.topbar-right{
			float:right;
			a{
				margin-left:10px;
			}
			/*
			.search:hover{
				width:120px;
			}
			*/
		}
		transition-duration:0.5s;
		position:fixed;
	}
	.topbar_show{
		top:0 !important;
	}
	.topbar_hide{
		top:-35px;
	}
			.search{
				display:inline-block;
				width:100%;
				position:relative;
				/*transition-duration:0.3s;*/
				input{
					width:100%;
					height:35px;
					border:1px solid #f1f1f1;
					outline:none;
					line-height:35px;
					border-radius:3px;
					padding-left:10px;
				}
				span{
					position:absolute;
					right:3%;
					top:11px;
					cursor:pointer;
				}
			}

	.navbar{
		padding-top:50px;
		.navbar-brand{
			font-size:35px;
		}
	}

	/*首页*/
	.index{
		margin-top:70px;
		.categories{
			margin-top:20px;
		}
	}
	/*首页图片*/
	.slider_box{
		position:relative;
		box-shadow:2px 2px 2px #dfdfdf;
		.sliders{
			position:absolute;
			overflow:hidden;
			width:100%;
			height:100%;
			.caption{
				position:absolute;
				bottom:0;
				width:100%;
				height:50px;
				background:rgba(0,0,0,0.3) !important;
					a{
						position:relative;
						color:#fff;
						display:block;
						width:60%;
						height:100%;
						line-height:50px;
						padding-left:20px;
					}
			}
		}
	}
	.siteinfo{
		color:#fff;
		background:#402817;
		min-height:120px;
		a{
			color:#fff;
		}
		h3{
			margin:70px 0 0 0;
		}
	}
	//sidebar
		.sidebar{
			h5{
				border-bottom:1px solid #f5f5f5;
				padding-bottom:10px;
			}
			ul{
				margin-bottom:20px;
				font-size:12px;
				li{
					line-height:25px;
					text-overflow:ellipsis;
					white-space:nowrap;
					overflow:hidden;
					a{
						color:#666;
					}
					span{
						color:#999;
					}
				}
			}
		}
	.bloglist-title{
		border-bottom:1px solid #f5f5f5;
		padding-bottom:10px;
		a{
			color:#80bd01;
		}
	}
	.bloglist{
		li{
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			line-height:25px;
		}
	}
	.category-bloglist{
		height:240px;
	}
	.blog-detail{
		.detail{
			padding:10px;
			box-shadow:1px 1px 2px #dfdfdf;
		.detail-title{
			text-align:center;
			border-bottom:1px solid #f5f5f5;
			padding-bottom:5px;
			margin-bottom:20px;
			.info{
				height:15px;
				text-align:left;
				margin-top:20px;
				color:#999;
				margin-bottom:10px;
				a{
					color:#80bd01;
				}
			}
		}
			.detail-pn{
				a{
					color:#80bd01;
				}
			}
			.detail-content{
				img{
					max-width:660px;
				}
			}
		}
	}

	.blog-row{
		margin-bottom:30px;
		border-bottom:1px solid #f5f5f5;
		padding-bottom:30px;
		h1{
			margin-top:0;
			color:#666;
		}
		h5{
			margin-top:5px;
		}
		.info{
			font-size:12px;
			color:#999;
		}
		.description{
			font-size:12px;
			text-indent:2em;
			clear:both;
			color:#666;
			line-height:22px;
			.more{
				margin-left:10px;
			}
		}
		.des-has-image{
			height:100px;
			.image{
				float:left;
				margin-right:15px;
				a{
					width:150px;
					height:100px;
					border-radius:5px;
					display:block;
					overflow:hidden;
				}
				img{
					border-radius:5px;
					width:150px;
					float:left;
				}
			}
		}
	}
}

/*---welcome---*/
	.show_welcome{
		.topbar{
			top:-35px;
		}
		.welcome{
			width:100%;
			height:100%;
			min-height:100%;
			background:url(/images/welcome.jpg);
			background-size:cover;
			background-repeat:no-repeat;
		}
		.welcome_wrap{
			background:url(/images/point.png) repeat;
			height:100%;
		}
		.index{
			margin-top:0;
		}
	}
