.site{
	font-size:12px;
	background:url('/images/bg.png') repeat;
	color:#000;
	a{
		color:#000;
	}
	a:hover{
		text-decoration:underline;
	}
	a.primary{
		color:#008cd7;
	}
	.wrap{
		margin-top:36px;
	}	
	.topbar{
		width:100%;
		height:35px;
		top:0;
		line-height:35px;
		font-size:12px;
		background:#000;
		z-index:99999;
		a{
			color:#fff;	
		}
		.avatar{
			img{
				border-radius:2px;
				width:25px;
				height:25px;
			}
		}
		.topbar-left,
		.topbar-right{
			display:inline-block;
		}
		.topbar-left{
			li{
				float:left;
			}
			a{
				margin-right:10px;
			}
			ul li{
				width:100%;
				a{
					margin-right:0;
					color:#000;
				}
			}
		}
		.topbar-right{
			float:right;
			a{
				margin-left:10px;
			}
			/*
			.search:hover{
				width:120px;
			}
			*/
		}
		transition-duration:0.5s;
		position:fixed;
	}
	.topbar_show{
		top:0 !important;
	}
	.topbar_hide{
		top:-35px;
	}
			.search{
				display:inline-block;
				width:100%;
				position:relative;
				color:#999;
				/*transition-duration:0.3s;*/
				input{
					background:none;
					width:100%;
					height:35px;
					border:1px solid #ddd;
					outline:none;
					line-height:35px;
					border-radius:3px;
					padding-left:10px;
				}
				span{
					position:absolute;
					right:3%;
					top:11px;
					cursor:pointer;
				}
			}

	.navbar{
		padding-top:50px;
		.navbar-brand{
			font-size:35px;
		}
	}

	/*首页*/
	.index{
		margin-top:70px;
		.categories{
			margin-top:20px;
		}
		#waterfall{
			position:relative;
		}
		#waterfall li{
			width:372px;
			display:none;
			background:#fff;
			img{
				width:372px;
			}
			h5{
				padding:5px 15px;
			}
			.description{
				padding:5px 15px;
			}
			.info{
				font-size:12px;
				color:#999;
				font-family:sans-serif;
				line-height:20px;
				margin-top:10px;
			}
		}
		.blog-row{
			.image{
				width:100%;
				max-height:300px;
				overflow:hidden;
				margin-bottom:10px;
				border-radius:3px;
				img{
					width:100%;
				}
			}
		}
	}
	/*首页图片*/
	.slider_box{
		position:relative;
		box-shadow:2px 2px 2px #dfdfdf;
		.sliders{
			position:absolute;
			overflow:hidden;
			width:100%;
			height:100%;
			.caption{
				position:absolute;
				bottom:0;
				width:100%;
				height:50px;
				background:rgba(0,0,0,0.3) !important;
					a{
						position:relative;
						color:#fff;
						display:block;
						width:60%;
						height:100%;
						line-height:50px;
						padding-left:20px;
					}
			}
		}
	}
	.siteinfo{
		color:#fff;
		background:#402817;
		min-height:120px;
		a{
			color:#fff;
		}
		h3{
			margin:70px 0 0 0;
		}
	}
	//sidebar
		.sidebar{
			h5{
				border-bottom:1px solid #f5f5f5;
				padding-bottom:10px;
			}
			ul{
				margin-bottom:20px;
				font-size:12px;
				li{
					line-height:25px;
					text-overflow:ellipsis;
					white-space:nowrap;
					overflow:hidden;
					a{
						color:#666;
					}
					span{
						color:#999;
					}
				}
			}
		}
	.bloglist-title{
		border-bottom:1px solid #f5f5f5;
		padding-bottom:10px;
		a{
			color:#008cd7;
		}
	}
	.bloglist{
		li{
			white-space:nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			line-height:25px;
		}
	}
	.category-bloglist{
		height:240px;
	}
	.blog-detail{
		.detail{
			padding:10px 20px;
			box-shadow:6px 5px #f1f1f1;
			border:1px solid #f5f5f5;
			background:#fff;
		.detail-title{
			text-align:center;
			border-bottom:1px solid #f5f5f5;
			padding-bottom:5px;
			margin-bottom:20px;
			.info{
				height:15px;
				text-align:left;
				margin-top:20px;
				color:#999;
				margin-bottom:10px;
			}
		}
			.detail-pn{
			}
			.detail-content{
				img{
					max-width:660px;
				}
			}
		}
	}

	.blog-row{
		margin-bottom:30px;
		border-bottom:1px solid #f5f5f5;
		padding-bottom:30px;
		h1{
			margin-top:0;
			color:#666;
		}
		h5{
			margin-top:5px;
		}
		.info{
			font-size:12px;
			color:#999;
		}
		.description{
			font-size:12px;
			text-indent:2em;
			clear:both;
			color:#666;
			line-height:22px;
			.more{
				margin-left:10px;
			}
		}
		.des-has-image{
			height:100px;
			.image{
				float:left;
				margin-right:15px;
				a{
					width:150px;
					height:100px;
					border-radius:5px;
					display:block;
					overflow:hidden;
				}
				img{
					border-radius:5px;
					width:150px;
					float:left;
				}
			}
		}
	}
}

/*---welcome---*/
	.show_welcome{
		.topbar{
			top:-35px;
		}
		.welcome{
			width:100%;
			height:100%;
			min-height:100%;
			background:url(/images/welcome.jpg);
			background-size:cover;
			background-repeat:no-repeat;
		}
		.welcome_wrap{
			background:url(/images/point.png) repeat;
			height:100%;
		}
		.index{
			margin-top:0;
		}
	}

/*--- user.login ---*/
@keyframes bgmove{
	from{top:-300%; left:-120%;}
	to{left:-35%}
}
@-webkit-keyframes bgmove{
	from{top:-120%; left:-120%;}
	to{left:-35%}
}
@-mox-keyframes bgmove{
	from{top:-300%; left:-120%;}
	to{left:-35%}
}
@-o-keyframes bgmove{
	from{top:-300%; left:-120%;}
	to{left:-35%}
}

.login{
	position:relative;
	overflow:hidden;
	height:100%;
	font-size:14px;
	.bg{
		height:200%;
		width:100%;
		background:#fafafa;
		position:absolute;
		transform:rotate(45deg);
		/*
		background:#008cd7;
		animation:bgmove 1s;
		-webkit-animation:bgmove 1.5s;
		-moz-animation:bgmove 1s;
		-o-animation:bgmove 1s;
		*/
		top:-100%;
		left:-25%;
	}
	#user-login{
		position:absolute;
		top:150px;
	}
}
/*--- footer ---*/
.footer{
	height:200px;
	background:#000;
}
/*--- quickmenu ---*/
@-webkit-keyframes miniroll{
	0%{}
	100%{transform:rotate(360deg)}
}
.quickmenu{
	position:fixed;
	top:25%;
	width:115px;
	box-shadow:6px 5px #f1f1f1;
	border:1px solid #dfdfdf;
	border-left:none;
	background:#fff;
	height:300px;
	padding-left:15px;
	h5{
		font-size:12px;
	}
	left:-121px;
	.mini{
		position:absolute;
		right:-46px;
		top:20px;
		display:block;
		cursor:pointer;
		width:46px;
		height:45px;
		text-align:center;
		border:1px solid #f1f1f1;
		border-left:none;
		box-shadow:6px 5px #f1f1f1;
		background:#fff;
		span{
			font-size:22px;
			width:23px;
			height:22px;
			-webkit-animation:miniroll 3s infinite linear;
			margin-top:10px;
		}
	}
	.menu{
		.colors{
			display:block;
			width:25px;
			height:25px;
			float:left;
			margin-right:5px;
			margin-bottom:5px;
			cursor:pointer;
		}
	}
}
.comment{
	margin-top:30px;
	padding:20px 20px;
	box-shadow:6px 5px #f1f1f1;
	border:1px solid #f5f5f5;
	background:#fff;
	.btn, .form-control{
		font-size:12px;
	}
	textarea{
		transition:all 0.1s ease-out;
		height:50px;
		margin-top:15px;
	}
	.more-heigh{
		height:100px;
	}
	[name='submit']{
		margin-top:10px;
	}
	.tip{
		margin-top:10px;
		color:#aaa;
	}
}
.comment-list{
	margin-top:20px;
	.list{
		margin-bottom:10px;
	}
	.nickname,.content{
		display:inline-block;
	}
	.nickname{
		.time{
			color:#999;
			font-family:sans-serif;
		}
	}
	.content{
		padding:5px 10px;
		background:#f1f1f1;
		border-radius:5px;
		position:relative;
		top:8px;
		left:10px;
		.arrow{
			position:absolute;
		}
		.arrow-left{
			left:-8px;
			border-top-width:2px;
			border-bottom-width:10px;
			border-right-width:10px;
			border-right-color:#f1f1f1;
		}
		min-width:100px;
	}
	.list-super{
		text-align:right;
		.nickname{
			text-align:left;
		}
		.content{
			left:-8px;
		}
		.arrow-right{
			right:-8px;
			border-top-width:2px;
			border-bottom-width:10px;
			border-left-width:10px;
			border-left-color:#f1f1f1;
		}
	}
}
