body
{
	color: #222222;
	font-family: Arial, sans-serif;
}

/* IE console */
#fauxconsole
{
    position: absolute;
    top: 0;
    right: 0;
    border:1px solid #ccc;
    padding: 1em;
}

.g-breadcrumbs
{
	font-size: 12px;
    margin-bottom: 0.5em;
}

.g-dropdown
{
	position: relative;
	font-size: 0.85em;
}

.g-dropdown span
{
	display: block;
	padding: 2px 3px 2px 10px;
	cursor:pointer;
    border: 1px solid #eee;
}

.g-dropdown span i
{
    background: url(img/bg-input.png) no-repeat scroll -15px 0 #fff;
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    *margin-top: -20px;
    *margin-right: 4px;
}

.g-dropdown:hover span
{
    border-color: #ccc;
	border-bottom: none;
	background-color: #F9F9F9;
}

.g-dropdown:hover i
{
    background-position: 0 0;
    *margin-top: -19px;
}

.g-dropdown ul
{
	z-index:1000;
    display:none;
    width:100px;
    position:absolute;
    left:0;
    border: 1px solid #ccc;
    border-top: none;
    background: #F9F9F9;
    margin: 0;
    padding: 2px 0;
}

.g-dropdown ul li
{
    float:none;
    display: block;
    border-right: 0 none;
    margin: 0;
    padding: 0;
}

.g-dropdown ul li a
{
    padding: 2px 10px;
    display: block;
}

.g-dropdown ul li a:hover
{
	background: #fff;
}

.g-dropdown:hover ul
{
    display:block;
}

.g-missing-page
{
	margin: 20px 0 0 0;
	color: #BF2323;
}

/** text input box **/
.g-text
{
    background: url(img/bg-input.png) repeat-x scroll 0 -130px #fff;
    border: 1px solid #ccc;
    padding: 4px 5px;
}

.g-text:focus
{
    border-color: #999;
}

.g-button, .g-button input
{
    background: transparent url(img/bg-input.png) no-repeat scroll 100% -55px;
}

.g-button input
{
    border: 0 none;
    height: 24px;
    padding-right: 14px;
    color: #444;
    font-size: 12px;
}

span.g-button input
{
    margin: 0;
}

.ie .g-button input
{
    padding-right: 10px;
}

.g-button input::-moz-focus-inner
{
    border: 0 none;
}

.g-button
{
    background-position: 0% -55px;
    padding: 0 0 0 10px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
}

.ie .g-button
{
    padding-left: 12px;
}

.g-button:hover
{
    background-position: 0% -103px;
    cursor:pointer;
}

.g-button:hover input
{
    background-position: 100% -103px;
    cursor:pointer;
}

.g-button:active
{
    background-position: 0% -103px;
}

.gecko .g-button:active
{
    padding-left: 9px;
}

.g-button:active input
{
    background-position: 100% -103px;
}

.g-list-none, .g-list-none li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.g-loading
{
	background: transparent url(img/loading.gif) no-repeat scroll 0 0;
	padding-left: 30px;
}

.g-voter-reporter .widget-voter
{
	float: right;
}

.g-voter-reporter .widget-reporter
{
	float: right;
}

.g-vote.plus
{
    color: green;
}

.g-vote.minus
{
    color: #c00;
}

.g-markdown-preview
{
    margin-left: 0.5em;
}

.g-progress
{
    border: 1px solid #D1DBDF;
    padding: 1px;
}

.g-progress .bar
{
    background-color: #EFFAFF;
    height: 30px;
}

.g-progress .info
{
    float: left;
    width: 100%;
    height: 30px;
    margin-top: -30px;
}

.g-progress .per
{
    float: right;
    margin-right: 15px;
    color: #666;
}

.g-starring
{
	float: left;
}

.g-user-rank-link.gold
{
	background:url("img/icons-13x13.png") no-repeat left -423px;
	padding-left:19px;
}

.g-user-rank-link.silver
{
	background:url("img/icons-13x13.png") no-repeat left -469px;
	padding-left:19px;
}

.g-user-rank-link.bronze
{
	background:url("img/icons-13x13.png") no-repeat left -515px;
	padding-left:19px;
}