/**
 * main CSS
 */
.layout-main
{
	background: white;
}

.layout-main-bg
{
	background: url(img/mainbg.png) no-repeat center 0;
}

.layout-main-shortcuts
{
	background: #eee;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	padding: 3px 0;
	text-align: right;
	line-height: 16px;
}

.layout-main-shortcuts a:focus
{
	outline:none;
}

.layout-main-shortcuts a:link,
.layout-main-shortcuts a:visited,
.layout-main-shortcuts a:hover
{
	text-decoration: none;
}

.layout-main-shortcuts a:hover
{
	color: #99cc00;
}

.layout-main-shortcuts .container_12
{
    width: 980px;
}

.layout-main .layout-main-shortcuts a
{
    text-transform:lowercase;
	color: #666;
}

.layout-main .layout-main-shortcuts a:hover
{
	color: #0099CC;
}

.layout-main-header
{
	height: 76px;
}

.layout-main-header .logo
{
	display: block;
	margin: 8px 0 0 0;
}

/** top menu **/

.layout-main-header .menu,
.layout-main-header .menu li a.main:hover,
.layout-main-header .menu li:hover a.main,
.layout-main-header .menu li ul li.last a,
.layout-main-header .menu li.about a.main,
.layout-main-header .menu li.about a.main:hover,
.layout-main-header .menu li.about:hover a.main,
.layout-main-header .menu li.active.about a.main,
.layout-main-header .menu li.active.about a.main:hover,
.layout-main-header .search
{
    background-image: url(img/menu-bar.png);
    background-repeat: repeat-x;
}

.layout-main-header .menu li ul li.last a
{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
}

.layout-main-header .nav
{
	position: relative;
	height: 36px;
	margin: 20px -20px 0 0;
	z-index: 10001;
}

.layout-main-header .nav a:focus
{
	outline:none;
}

.layout-main-header .nav a:link,
.layout-main-header .nav a:visited,
.layout-main-header .nav a:hover
{
	text-decoration: none;
}

.layout-main-header .menu
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
    height: 36px;
    background-position: 0 -36px;
}

.layout-main-header .menu li
{
	position:relative;
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
	border-right: 1px solid #999;
	text-transform:lowercase;
	line-height: 19.5px;
}

.layout-main-header .menu a.main
{
    float: left;
    height: 16px;
    padding: 8px 10px 12px 11px;
    color: white;
    border-right: 1px solid #666;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #333;
}

.layout-main-header .menu li.about a.main
{
    background-repeat: no-repeat;
    padding-left: 14px;
}

/* other active menus, requires less cascade than above line */
.layout-main-header li.active a.main
{
    background-color: #666;
    background-image: none;
    color: #eee;
}

.layout-main-header .menu li a.main:hover,
.layout-main-header .menu li:hover a.main
{
	border-bottom: 1px solid transparent;
    background-position: 0 -144px;
    color: #fff;
}

.layout-main-header .menu li.about a.main:hover,
.layout-main-header .menu li.about:hover a.main
{
    background-position: 0 -108px;
}

/* 1st active menu requires less cascade than above line */
.layout-main-header li.active.about a.main
{
    background-position: 0 -180px;
}

/* top menu search box */
.layout-main-header .search
{
	position: absolute;
	top: 0;
    right: 0px;
	width: 145px;
	height: 36px;
    background-position: right -72px;
    background-repeat: no-repeat;
}

.layout-main-header .search .keyword a
{
	position: absolute;
	height: 0;
	width: 22px;
	padding-top: 20px;
	left: 120px;
	top: 8px;
	overflow: hidden;
}

.layout-main-header .search .keyword input
{
    margin: 12px 0 0 15px;
	width: 95px;
	height: 13px;
	font-size: 11px;
    background: transparent;
    border: 0 none;
}

/* top menu - sub-menus */
.layout-main-header .menu li ul
{
    display:none;
    width:160px;
    position:absolute;
    top:36px;
    left:0;
}

.layout-main-header .menu li ul li
{
    float:none;
    display: block;
    border-right: 0 none;
}

.layout-main-header .menu li ul li a
{
    color:#fff;
    padding:4px 15px;
    border-bottom:solid #666 1px;
    background-color:#444;
    display: block;
}

.layout-main-header .menu li ul li.last a
{
    border-bottom: 0 none;
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.layout-main-header .menu li ul li a:hover
{
    color:#99cc00;
}

.layout-main-header .menu li:hover ul
{
    display:block;
}

.layout-main-ads
{
	margin: 2em 0 0 0;
}

/* footer */
.layout-main-footer
{
	background: url(img/footer-bg.png) #202020;
	color: #ccc;
	margin: 2em 0 0 0;
	padding: 20px 0;
	font-size: 0.9em;
}

.layout-main-footer h3
{
	color: #CCCCCC;
	font-size: 16px;
}

.layout-main-footer .copyright
{
	font-size: 11px;
	margin: 30px 0 0 0;
	text-align: center;
}

.layout-main-footer ul.menu,
.layout-main-footer ul.menu ul,
.layout-main-footer ul.menu li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.layout-main-footer ul.menu ul
{
	margin: 0 0 0 10px;
}

.layout-main-footer ul.menu li.main
{
	display: block;
	float: left;
	width: 150px;
	margin: 0 0 1em 0;
	min-height: 125px;
}

.layout-main-footer .tweets,
.layout-main-footer .tweets li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.layout-main-footer .tweets li
{
	margin: 0 0 5px;
}

.layout-main-footer .tweets .time
{
	color: #666;
}

.layout-main-footer .social
{
	width: 160px;
	margin:0 auto 0 auto;
	padding: 0;
}

.layout-main-footer .social li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.layout-main-footer .social li a
{
	float: left;
	height: 0;
	padding-top: 32px;
	width: 32px;
	margin: 0 0 0 5px;
	overflow: hidden;
	background: url(img/social.png) no-repeat;
}

.layout-main-footer .social li.twitter a { background-position: -3px -4px; }
.layout-main-footer .social li.facebook a { background-position:  -115px -4px; }
.layout-main-footer .social li.linkedin a { background-position: -78px -4px; }
.layout-main-footer .social li.feeds a { background-position: -40px -4px; }

.layout-main-footer .supporters li
{
	margin: 0 0 1em 0;
}

.layout-main-notice
{
	width: 450px;
	font-size: 12px;
	padding: 0.5em 1em;
	border: 1px solid #FFA500;
	background: #fff7e7;
	margin: 10px auto -10px auto;
}

/* internal submenu */
.layout-main-submenu
{
	margin: 20px 0 0 0;
	background: #F3F3F3;
	font-size: 12px;
}

.layout-main-submenu ul,
.layout-main-submenu li
{
	list-style: none;
	margin: 0;
	padding: 5px 2px;
}

.layout-main-submenu ul
{
	padding-left: 0;
}

.layout-main-submenu li
{
	display: inline;
}

.layout-main-submenu li.main
{
	padding: 5px 10px;
	background: #999;
	color: white;
	font-weight: bold;
    text-transform:uppercase;
}

.layout-main-submenu li a
{
	padding:5px 7px 7px 7px;
}

.layout-main-submenu li.active a
{
	background: white;
}

.layout-main-submenu li a:hover
{
	padding:5px 7px;
	background: #eee;
}

.layout-main-body
{
	padding: 10px 0;
	min-height: 400px;
}

.layout-main-left
{
	margin: 40px 0 0 0;
}

.layout-main-right
{
	margin: 40px 0 0 0;
}
