.user{
#user-login-box{
	text-align:center;
	#user-login{
		text-align:left;
		margin:0 auto;
		float:none;
	}
}
#user-reg-box{
	text-align:center;
	#user-reg{
		text-align:left;
		margin:0 auto;
		float:none;
	}
}
#blog_publish{
	.field-blogform-cid{
		margin-bottom:0;
	}
	.showmodal{
		margin-left:-15px;
		padding-left:0;
	}
}
}
